@font-face {
  font-family: berthold;
  src: url('https://images.rockymountainatvmc.com/images/rm/Heros/LP/Install-Center/berthold.otf') format("opentype");
}

body,
:is(div#NoNavBarPageContent, div.ux-content) {margin: 0 !important;padding: 0 !important;width: 100% !important;}
div.headerSpacing {margin: 0;}

/* RESET */
main#rm-landing *,
#rm-landing *::before,
*::after {box-sizing: border-box;}
main#rm-landing * {margin: 0;padding: 0;font: inherit;}
html {hanging-punctuation: first last;}
main#rm-landing :is(img, picture, svg, video) {display: block;max-width: 100%;}
main#rm-landing :is(h1, h2, h3, h4, h5, h6) {text-wrap: balance;}
main#rm-landing :is(p, li) {text-wrap: pretty;}
/* RESET END */

main#rm-landing {
  --border-radius: 0.25em;
  --content-width: 1300px;
  --gap: 1rem;

  --black: rgb(0 0 0);
  --red: #ce0e2d;
  --grey: #333;
  --grey-2: #555;
  --light-grey: #777;
  --blue: rgb(31 82 140);
  --green: rgb(0 150 0);
  --yellow: rgb(255, 255, 0);

  --font-berthold: "berthold", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-industry: ;

  --step--1: clamp(0.85rem, 0.8rem + 0.2vw, 0.95rem);
  --step-0: clamp(1rem, 0.95rem + 0.3vw, 1.125rem);
  --step-1: clamp(1.25rem, 1.1rem + 0.6vw, 1.5rem);
  --step-2: clamp(1.5rem, 1.3rem + 1vw, 2rem);
  --step-3: clamp(2rem, 1.6rem + 1.8vw, 2.75rem);
  --step-4: clamp(2rem, 1.8rem + 2.5vw, 3.5rem);
  --step-5: clamp(2.5rem, 2rem + 3.5vw, 4rem);

  color: var(--grey);
  display: grid;
  font-family: Helvetica, Arial, system-ui, sans-serif;
  font-size: 1.2rem;
  grid-template-columns: [fullWidth-start] minmax(2rem, 1fr) [mainContent-start] minmax(2rem, var(--content-width)) [mainContent-end] minmax(2rem, 1fr) [fullWidth-end];
  height: 100%;
  /* padding-bottom: 2rem; */
  &>* {grid-column: mainContent;}
}

main#rm-landing :is(h1, h2, h3, h4, h5, h6) {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 0.2em;
}
main#rm-landing h1 {font-size: var(--step-5);}
main#rm-landing h2 {font-size: var(--step-4);}
main#rm-landing h3 {font-size: var(--step-3);}
main#rm-landing h4 {font-size: var(--step-2);}
main#rm-landing h5 {font-size: var(--step-1);}
main#rm-landing h6 {font-size: var(--step-0);}

main#rm-landing i {font-style: italic;}

main#rm-landing :is(section, article) {
  padding: 2rem 0;
}

main#rm-landing a {
  color: var(--red);
}

main#rm-landing :is(button, a.button):not(.yt-play-btn) {
  --bg-initial: rgb(255 255 255 / 0);
  --bg-hover: black;
  --text-initial: black;
  --text-hover: white;
  backdrop-filter: blur(5px);
  background-color: var(--bg-initial);
  border: 1.5px solid var(--text-initial);
  border-radius: 100vw;
  color: var(--text-initial);
  display: inline-block;
  padding: 0.75rem 1.75rem;
  text-decoration: none;
  transition: background-color 250ms, color 250ms, scale 250ms;
  width: fit-content;
  &:hover {
    background-color: var(--bg-hover);
    color: var(--text-hover);
    /* scale: 1.05; */
  }
  &.solid {
    --bg-initial: black;
    --bg-hover: white;
    --text-initial: white;
    --text-hover: black;
    border-color: var(--text-hover);
  }
}
main#rm-landing img:has(+ :is(button, a.button)) + :is(button, a.button){
  margin-top: 1rem !important;
}

main#rm-landing p:has(~ :is(button, a.button)) {
  margin-bottom: 1rem;
}

main#rm-landing header {
  text-align: center;
  padding: 2rem 0;

  & h1 {
    padding-bottom: 2rem !important;
  }

  &:first-of-type {
    padding-top: 10rem;
  }
}

main#rm-landing img {
  border-radius: 1rem;
}

main#rm-landing .img-round img {
  border-radius: 100% !important;
  margin-inline: auto;
  width: 80%;
}

main#rm-landing nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: space-around;
  padding: 0 1.5rem !important;
  place-self: center;
  /* width: fit-content; */

  & a::after {
    content: "" !important;
  }
}

main#rm-landing .center {
  text-align: center;

  & :is(button, a.button) {
    margin-inline: auto;
  }
}

main#rm-landing .right {
  margin-left: auto;
  text-align: right;
}

main#rm-landing .full-bleed {
  display: grid !important;
  grid-column: fullWidth;
  grid-template-columns: [fullWidth-start] minmax(1.5rem, 1fr) [mainContent-start] minmax(1.5rem, var(--content-width)) [mainContent-end] minmax(1.5rem, 1fr) [fullWidth-end];
  &>* {
    grid-column: mainContent;
    padding: 0;margin: 0;
  }
  &>:is(button, a.button) {
    margin-left: 1em;
  }
  & :is(.product-grid, .product-horizontal, .gallery) {
    justify-content: space-around;
  }
}

main#rm-landing :is(.black, .red, .grey) {
  color: white;
  & :is(button, a.button):not(:is(.product-grid, .product-horizontal) a.button) {
    --bg-hover: white;
    --text-initial: white;
    --text-hover: black;
  }
  & :is(button, a.button).solid {
    background-color: white;
    border-color: white;
    color: black;
    &:hover {
      background-color: transparent;
      color: white;
    }
  }
}
 main#rm-landing .black {background-color: black;}
 main#rm-landing .grey {background-color: var(--grey);}
 main#rm-landing .red {background-color: var(--red);}


main#rm-landing :is([class^="column-"], [class*=" column-"]):has(>div.wrapper)>div.wrapper,
main#rm-landing :is([class^="column-"], [class*=" column-"]):not(:has(>div.wrapper)) {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 2rem var(--gap) !important;
  place-content: center !important;
  place-items: center !important;
}
main#rm-landing :is(:is([class^="column-"], [class*=" column-"])>div.wrapper>*, :is([class^="column-"], [class*=" column-"]):not(:has(>div.wrapper))>*) {
  /* --columns: 2; */
  flex: 1 0 calc(calc(100% / var(--columns)) - var(--gap));
  max-width: calc(var(--content-width) / var(--columns) - var(--gap) * 1.5);
  min-width: 250px;
}

main#rm-landing :is(.column-2>div.wrapper>*, .column-2:not(:has(>div.wrapper))>*) {--columns: 2;}
main#rm-landing :is(.column-3>div.wrapper>*, .column-3:not(:has(>div.wrapper))>*) {--columns: 3;}
main#rm-landing :is(.column-4>div.wrapper>*, .column-4:not(:has(>div.wrapper))>*) {--columns: 4;}

main#rm-landing :is(section.gallery:not(:has(>div.wrapper)), section.gallery:has(>div.wrapper)>div.wrapper) {
  display: grid;
  gap: var(--gap) !important;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  place-items: center;

  & > h1:is(:first-child) {grid-column: 1 / -1;text-align: center;}

  & :is(img, div:not(.wrapper)){
    aspect-ratio: 1/1;
    min-width: 120px;
    width: 100%;
    &.gallery-half {
      aspect-ratio: 2.05/1;
      grid-column: span 2;
      object-fit: cover;
      @media (max-width: 750px) {aspect-ratio: 2/1;}
    }
    &.gallery-full {
      aspect-ratio: 4/1;
      grid-column: 1 / -1;
      object-fit: cover;
      @media (max-width: 750px) {aspect-ratio: 2/1;}
    }
    &.gallery-three-fourths {
      aspect-ratio: 3.1/1;
      grid-column: span 3;
      object-fit: cover;
      @media (max-width: 750px) {aspect-ratio: 2/1;}
    }
  }
  & div:not(.wrapper) {
    background-color: white;
    background-image: linear-gradient(to top, color-mix(in hsl, var(--overlay-color), transparent 5%), color-mix(in hsl, var(--overlay-color), transparent 75%)), var(--cover-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    color: white;
    display: grid;
    font-weight: bold;
    place-content: center;
    text-align: center;
    text-transform: uppercase;
  }
  @media (max-width: 750px) {
    & {grid-template-columns: repeat(2, 1fr) !important;}
  }
}

main#rm-landing .cover-image {
  background-image: linear-gradient(rgb(0 0 0 / 0.25) 50%, rgb(0 0 0 / 0.5)), var(--cover-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black !important;

  &.black {
    background-image: linear-gradient(rgb(0 0 0 / 0.5) 50%, black), var(--cover-image);
  }

  &.red {
    background-image: linear-gradient(rgb(204 0 0 / 0.5) 50%, var(--red)), var(--cover-image);
  }

  &.grey {
    background-image: linear-gradient(rgb(51 51 51 / 0.5) 50%, var(--grey)), var(--cover-image);
  }
}

main#rm-landing .product-grid,
main#rm-landing .product-grid div.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem var(--gap) !important;
  padding: 1.5rem 0 !important;
  place-content: center;
  place-items: center;

  & > h1:is(:first-child) {flex-basis: 100%;text-align: center;}

  & div:not(.wrapper) {
    background-color: white;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 1rem;
    cursor: pointer;
    display: grid;
    flex: 1 0 calc(25% - (var(--gap)));
    max-width: calc(var(--content-width) / 4 - var(--gap) * 1.5);
    min-width: 150px;
    overflow: hidden;
    grid-template-areas: "brand" "product" "title" "price" "details" "button";
    grid-template-rows: auto;
    text-align: center;
    transition: border-color 150ms, scale 250ms;

    &:hover {border-color: rgb(0 0 0 / 0.35);}

    &>* {margin: 0 !important;}

    & img:has(+ img):first-of-type {
      border-radius: 0;
      grid-area: brand;
      place-self: center;
      max-width: 80px;
      margin-bottom: 0.75rem !important;
      margin-top: 0.75rem !important;
      /* & + img {
        margin-inline: auto !important;
        width: calc(100% - 1.5rem);
      } */
    }

    & > img:first-of-type:not(:has(+ img)) {border-radius: 0;}

    & img {
      border-radius: 0;
      &:last-of-type {
        grid-area: product;
      }
    }

    & :is(h1, h2, h3, h4, h5, h6) {
      color: var(--grey);
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
      font-size: var(--step-0);
      grid-area: title;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 100%;
    }

    & p {
      color: var(--red);
      font-weight: bold;
      grid-area: price;
      padding: 0.5rem 0;
    }

    & i {
      color: var(--light-grey);
      font-size: var(--step--1);
      grid-area: details;
    }

    & a.button {
      grid-area: button;
      margin-inline: auto !important;
      margin-bottom: 1rem !important;
      margin-top: 1rem !important;
    }
  }

  /* &.product-horizontal div:not(.wrapper) {
    flex: 1 0 calc(33% - (var(--gap)));
    max-width: calc(var(--content-width) / 3 - var(--gap) * 1.5);
    min-width: 250px;
    grid-template-columns: 50% 1fr;
    grid-template-areas: "product brand" "product price" "product title" "product details" "product button";
    grid-template-rows: repeat(5, auto);
    place-items: center;
  } */
}
main#rm-landing .black :is(.product-grid, .product-grid div.wrapper) div:hover {
  border-color: white;
}

main#rm-landing img:has(+ :is(p, h1, h2, h3, h4, h5, h6)) + :is(p, h1, h2, h3, h4, h5, h6) {padding-top: 1rem;}

/* main#rm-landing :is(.product-grid>div:not(.wrapper),
  .product-grid>.wrapper>div,
  .product-horizontal>div:not(.wrapper),
  .product-horizontal>.wrapper>div {
  transition: scale 250ms;
  &:hover {
    scale: 1.015
  }
} */

main#rm-landing .space {
  display: block;
  height: 5rem;
}
main#rm-landing .divider {
  border-top: 1px solid var(--light-grey);
  height: 10px;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-inline: auto;
  opacity: 0.5;
  width: 85%;
}

/* SLIDER STYLING */
main#rm-landing :is(section, article).slider {
  outline: 1px solid lime;
  grid-template-columns: [fullWidth-start] minmax(1.5rem, 1fr) [mainContent-start] minmax(1.5rem, var(--content-width)) [mainContent-end] minmax(1.5rem, 1fr) [fullWidth-end];
  grid-template-columns: fullWidth;

  &>div {
    min-height: 100px;
  }
}
main#rm-landing :is(h1, h2, h3, h4, h5, h6):has(+ .sub-heading) + .sub-heading {
  margin-top: -0.75rem;
}
main#rm-landing .sub-heading {
  color: var(--light-grey);
  display: block;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  &:has(+ p) {
    padding-bottom: 1rem !important;
  }
}

/* YT VIDEO STYLING */
#rm-landing .yt-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    transition: scale 250ms;
    &:hover .yt-play-btn {
        scale: 1.05;
    }
}
#rm-landing .yt-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
#rm-landing .yt-overlay {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: opacity 0.3s ease;
    z-index: 2;
}
#rm-landing .yt-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}
#rm-landing .yt-play-btn {
    border-radius: 1rem;
    display: block;
    width: 100px;
    height: 72px;
    background: rgb(255 0 0);
    border: none;
    position: relative;
    transition: scale 350ms;
    cursor: pointer;
}
#rm-landing .yt-play-btn::before {
    content: "";
    position: absolute;
    left: 40px;
    top: 20px;
    border-style: solid;
    border-width: 16px 0 16px 26px;
    border-color: transparent transparent transparent white;
}
@media (max-width: 800px) {
    #rm-landing .column-4 rm-container>* {
        flex: 0 0 calc(50% - var(--gap));
    }
}
/* YT VIDEO STYLING END */

/* main#rm-landing :is(
  .product-grid>div:not(.wrapper),
  .product-grid>.wrapper>div,
  .product-horizontal>div:not(.wrapper),
  .product-horizontal>.wrapper>div,
  .column-2>div:not(.wrapper),
  .column-2>.wrapper>div,
  .column-3>.wrapper>div,
  .column-3>div:not(.wrapper),
  .column-4>div:not(.wrapper),
  .column-4>.wrapper>div):has(> a) {transition: scale 250ms;&:hover > a.button {scale: 1.025;}} */
