@font-face {
        font-family: berthold;
        src: url('https://images.rockymountainatvmc.com/images/rm/Heros/LP/Install-Center/berthold.otf') format("opentype");
    }

    body,
    :is(div#NoNavBarPageContent, div.ux-content) {
        padding: 0 !important;
        width: 100% !important;
    }
    div.headerSpacing{margin: 0;}

    div#rm-landing {
        --content-width: 1200px;
        --scale: 1.05;
        --border-radius: 0.5rem;

        --red: rgb(204 0 0);
        /* --blue: rgb(0 0 204); */
        --blue: rgb(31 82 140);
        --green: rgb(0 150 0);
        --yellow: rgb(255, 255, 0);
        --initial-color: white;
        --secondary-color: black;
        --accent-color: var(--red);
        display: grid;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        gap: 3rem 0;
        grid-template-columns: [full-width-start] minmax(1rem, 1fr) [main-content-start] minmax(1rem, var(--content-width)) [main-content-end] minmax(1rem, 1fr) [full-width-end];
        width: 100%;
        & > * {grid-column: main-content;}


    }

    div#rm-landing h1 {font-family: 'berthold', sans-serif;text-transform: uppercase;}

    div#rm-landing a.button {
        background-color: var(--accent-color);
        background-image: linear-gradient(110deg, var(--accent-color) 48%, white 48%, white 52%, var(--secondary-color) 52%);
        background-position: left;
        background-size: 300%;
        border-radius: var(--border-radius);
        color: var(--initial-color);
        display: block;
        font-size: 1.35rem;
        font-weight: bold;
        height: fit-content;
        padding: 1rem;
        text-align: center;
        text-decoration-color: transparent;
        text-transform: uppercase;
        text-underline-offset: -3px;
        transition: 250ms;
        width: fit-content;

        &:is(:hover, :focus){
            background-position: right;
            outline: 1px solid var(--initial-color);
            /* scale: var(--scale); */
            text-decoration-color: var(--initial-color);
            text-underline-offset: 3px;
        }
    }

    div#rm-landing nav a.button {margin: 0 !important;}


    /* HEADER */
    div#rm-landing > header {
        grid-column: main-content;
        text-align: center;
        & h1 {
            font-size: clamp(3.25rem, 6vw, 8rem);
            letter-spacing: 0.05em;
            padding: 1rem 0;
        }
    }
    div#rm-landing > header.image {
        background-image: var(--header-bg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        gap: 1rem 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr auto auto;
        padding: 1rem 0;
        place-content: center;
        align-items: end;
        min-height: 450px;
        &.full-bleed {
            align-items: end;
            grid-template-columns: inherit;
            grid-column: full-width;
            height: 100%;
            & > * {grid-column: main-content;}
        }
        &.cover {
            background-image: linear-gradient(130deg, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.75)), var(--header-bg);
        }
        &.cover-grad {
            background-image: linear-gradient(to bottom, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.95)), var(--header-bg);
        }
        & h1 {
            margin: 0 auto;
            text-align: center;
            text-shadow: 0 0 1rem rgb(0 0 0);
        }
        & a.button {margin: auto;}
    }

    /* SECTION NAVIGATION */
    div#rm-landing nav.sections {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.25rem 1rem;
        justify-content: center;
        place-items: center;
    }

    /* SECTIONS */
    div#rm-landing section {
        padding-bottom: 3.5rem;
        &:not(:has(header)) {padding-top: 3rem}
        & > div {
            transition: 250ms;
            &:hover {scale: 1.025;}
            &:has(> a.button) {cursor: pointer;}
        }
    }
    
    div#rm-landing section header {
        display: flex;
        place-content: center;
        place-items: center;
        & h1 {
            font-size: clamp(3rem, 5vw, 6rem);
            letter-spacing: 0.1em;
            margin: 3rem 0;
        }
    }

    div#rm-landing section.product-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        & header {flex: 1 100%;}
    }
    /* div#rm-landing section.product-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        position: relative;
        width: 100%;
        & header {grid-column: 1 / -1;}
    } */
    div#rm-landing section.product-grid div.card {
        flex-basis: calc(25% - 3rem);
        max-width: calc(var(--content-width) / 4);

        background-color: white;
        border-radius: var(--border-radius);
        color: black;
        display: grid;
        gap: 0.5rem 0.25rem;
        grid-template-areas:
        "logo"
        "image"
        "button"
        "price"
        "title"
        "details";
        isolation: isolate;
        padding: 1rem;
        position: relative;
        &>*{margin: 0;text-transform: uppercase;}
        /* &:hover {scale: 1.025;} */
        & > img:first-of-type {
            display: block;
            grid-area: logo;
            justify-self: center;
            width: 30%;
        }
        & > img:last-of-type {
            grid-area: image;
            width: 100%;z-index: -1;}
        & > h1 {
            font-size: clamp(0.85em, 1.5vw, 1.25em);
            grid-area: title;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            display: -webkit-box;
            overflow: hidden;
        }
        & > p {
            color: var(--red);
            font-size: clamp(1em, 1.5vw, 1.25em);
            font-weight: bold;
            grid-area: price;
        }
        & > i {color: #666;font-size: 0.85em;grid-area: details;}
        & > a.button {grid-area: button;width: calc(100% - 2rem);}
        &:is(.best-seller, .closeout, .limited, .deal)::before{
            clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 99%);
            color: white;
            display: block;
            font-weight: bold;
            grid-area: image;
            top: -0.125rem;
            left: -1.35rem;
            padding: 0.35rem 1.25rem 0.35rem 0.75rem;
            position: absolute;
            text-transform: uppercase;
        }
        &.best-seller::before {content: "Best Seller";background-color: var(--red);}
        &.closeout::before {content: "closeout";background-color: var(--blue);}
        &.limited::before {content: "limited stock";background-color: var(--green);}
        &.deal::before {content: "deal";background-color: var(--yellow);color: black;font-size: clamp(0.85em, 1.5vw, 1em);}
    }
    div#rm-landing section.product-grid div.promo {
        background-image: linear-gradient(rgb(0 0 0 / 0.25), rgb(0 0 0 / 0.75)), var(--promo-bg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: var(--border-radius);
        display: grid;
        flex: 1;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        place-content: center;
        place-items: center;
        padding: 1rem;
        & h1 {color: white;grid-area: 2 / 1 / 3 / 4;}
        & a.button {grid-area: 3 / 1 / 4 / 4;}
    }

    div#rm-landing section.categories {
        --columns: 3;
        --gap: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem var(--gap);
        justify-content: space-around;
        & header {flex: 1 0 100%;}
        &.two-wide {--columns: 2;}
        &.three-wide {--columns: 3;}
        &.four-wide {--columns: 4;}
        &.five-wide {--columns: 5;}
    }
    div#rm-landing section.categories div {
        flex-basis: calc((100% / var(--columns)) - (var(--gap)));
        display: grid;
        gap: var(--gap);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        place-items: center;
        /* &:hover {scale: 1.025;} */
        & img {aspect-ratio: 1.5/1;grid-area: 1 / 1 / 2 / 4;object-fit: cover;width: 100%;}
        & h1, & p {margin: 0;padding: 0;}
        & h1 {grid-area: 2 / 1 / 3 / 4;}
        & a.button {grid-area: 3 / 1 / 4 / 4;}
    }

    div#rm-landing section.spotlight {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem 1rem;
        justify-content: space-around;

        & div {
            border: 2px solid var(--accent-color);
            display: grid;
            flex-basis: 40%;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr repeat(2, auto);
            place-items: center;
            min-width: 300px;
            /* &:hover {scale: 1.025;} */
        }
        & img {aspect-ratio: 1/1.25;grid-area: 1 / 1 / 5 / 2;width: 100%;object-fit: cover;}
        & h1 {
            background-color: var(--accent-color);
            font-size: clamp(1.5rem, 4vw, 2.5em);
            grid-area: 1 / 1 / 2 / 2;
            letter-spacing: 0.15rem;
            margin-top: auto;
            padding: 1rem 0;
            text-align: center;
            transform: translateY(-2px);
            width: 105%;
        }
        & p {
            display: block;
            font-size: 1.5em;
            font-weight: bold;
            grid-area: 3 / 1 / 4 / 2;
            isolation: isolate;
            padding: 1rem 0;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            &::before {
                content: "";
                background-color: color-mix(in srgb, var(--red), transparent 20%);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
            }
        }
        & a.button {
            --secondary-color: var(--red);
            --accent-color: black;
            border: 1px solid var(--initial-color) !important;
            grid-area: 4 / 1 / 5 / 2;
            transform: translateY(1rem);
            width: 80%;
        }
    }

    div#rm-landing section.full-bleed {
        --full-bleed-bg: rgb(35 35 35);
        --full-bleed-color: white;
        background-color: var(--full-bleed-bg);
        box-shadow: 0 0 0 100vmax var(--full-bleed-bg);
        clip-path: inset(0 -100vmax);
        color: var(--full-bleed-color);
        min-height: 300px;
        &.bleed-white{
            --full-bleed-bg: white;--full-bleed-color: black;
            & .card {border: 1px solid rgb(0 0 0 / 0.15);}
            &.spotlight {color: white;}
        }
        &.bleed-red{--full-bleed-bg: var(--red);--full-bleed-color: white;--secondary-color: var(--red);--accent-color: black;}
    }

        /* STYLES FOR SECTIONS */
    div#rm-landing section.round div{
        & img {aspect-ratio: 1;border-radius: 50%;}
    }



    /* MEDIA QUERIES */
    @media (max-width: 900px) {
        div#rm-landing > header h1 {padding: 3rem 0;}
        /* div#rm-landing section.product-grid {grid-template-columns: repeat(3, 1fr);} */
        div#rm-landing section.product-grid div.card{flex-basis: calc(50% - 3rem);}
        div#rm-landing section.product-grid div.promo{flex: 0 0 calc(50% - 3rem) !important;}
       div#rm-landing section.categories{
            &.two-wide {--columns: 2;}
            &.three-wide {--columns: 3;}
            &.four-wide {--columns: 3;}
            &.five-wide {--columns: 3;}
        }
    }
    @media (max-width: 600px) {
        div#rm-landing nav.sections {
            gap: 0.5rem;
            & a.button {font-size: 0.95em;}
        }
       div#rm-landing section.categories{
            &.two-wide {--columns: 2;}
            &.three-wide {--columns: 2;}
            &.four-wide {--columns: 2;}
            &.five-wide {--columns: 2;}
        }
        div#rm-landing section.spotlight div {flex-grow: 0.5;}
    }
