@font-face {
    font-family: berthold;
    src: url('https://images.rockymountainatvmc.com/images/rm/Heros/LP/Install-Center/berthold.otf') format("opentype");
}
body,
:is(div#NoNavBarPageContent, div.ux-content) {
    margin: 0 !important; 
    padding: 0 !important;
    width: 100% !important;
}
div.headerSpacing{margin: 0;}
/* :root {scroll-behavior: smooth;} */

/* RESET */
    #rm-landing *, #rm-landing *::before, *::after {box-sizing: border-box;}
    #rm-landing * {margin: 0; padding: 0; font: inherit;}
    html {hanging-punctuation: first last;}
    #rm-landing :is(img, picture, svg, video) {display: block; max-width: 100%;}
    #rm-landing :is(h1, h2, h3, h4, h5, h6) {text-wrap: balance;}
    #rm-landing :is(p, li) {text-wrap: pretty;}
/* RESET END */

#rm-landing :is(h1, h2, h3, h4, h5, h6) {
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0.25em;
    margin: 0.85em 0 0.5em 0;
}
#rm-landing h1 {font-size: 2em}
#rm-landing h2 {font-size: 1.5em}
#rm-landing h3 {font-size: 1.17em}
#rm-landing h4 {font-size: 1em}
#rm-landing h5 {font-size: 0.83em}
#rm-landing h6 {font-size: 0.67em}
#rm-landing i {font-style: italic;}

#rm-landing{
    --content-width: 990px;
    --gap: 1rem;
    --border-radius: 0.5rem;

    --red: #c00;
    --grey: #333;
    --light-grey: #555;
    --blue: rgb(31 82 140);
    --green: rgb(0 150 0);
    --yellow: rgb(255, 255, 0);

    color: var(--light-grey);
    display: grid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    /* gap: 2rem; */
    grid-template-columns: [fullWidth-start] minmax(1rem, 1fr) [mainContent-start] minmax(1rem, var(--content-width)) [mainContent-end] minmax(1rem, 1fr) [fullWidth-end];

    & > * {grid-column: mainContent;}
}
#rm-landing header {
    padding: 2rem 0;
    place-items: center;
    text-align: center;
    & rm-container{
        display: flex;
        place-content: center;
        place-items: center;
        width: 100%;
    }
    &.cover-image {padding-top: 100px}
    & h1 {font-size: clamp(3rem, 7vw, 6.5em) !important;}
    & svg {width: 70%;}
}
#rm-landing a.button {
    background-color: var(--red);
    background-image: linear-gradient(110deg, var(--red) 48%, white 48%, white 52%, black 52%);
    background-position: left;
    background-size: 300%;
    border-radius: var(--border-radius);
    color: white;
    display: block;
    font-size: 1.35rem;
    font-weight: bold;
    height: fit-content;
    padding: 1rem;
    text-align: center;
    text-decoration-color: transparent;
    text-transform: uppercase;
    text-underline-offset: -3px;
    transition: 250ms;
    width: fit-content;

    &:is(:hover, :focus){
        background-position: right;
        outline: 1px solid var(--white);
        text-decoration-color: var(--white);
        text-underline-offset: 3px;
    }
}
#rm-landing p:has(~ a.button) {margin-bottom: 1rem;}
#rm-landing section {
    padding: 2.5rem 0;
    & rm-container {
        align-items: center !important;
    }
}
#rm-landing .full-bleed {
    background-color: var(--grey);
    color: white;
    display: grid;
    grid-column: fullWidth;
    grid-template-columns: inherit;
    &:not( header) {padding: .25rem 0 1rem 0;}
    & rm-container > :is(h1, h2, h3, h4, h5, h6) {
        font-family: "berthold", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
        text-align: center;
        text-transform: uppercase;
    }
    & rm-container > h1 {font-size: clamp(3rem, 5vw, 5rem);}
    & rm-container > h2 {font-size: clamp(1em, 5vw, 3em);}
    &.cover-image {
        background-image: linear-gradient(to bottom, rgb(0 0 0 / 0), rgb(0 0 0 / 0.95)), var(--cover-image);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &.overlay-black-grad {background-image: linear-gradient(to bottom, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.95)), var(--cover-image);}
        &.overlay-black {background-image: linear-gradient(to bottom, rgb(0 0 0 / 0.85), rgb(0 0 0 / 0.85)), var(--cover-image);}
        &.overlay-red {background-image: linear-gradient(to bottom, rgb(204 0 0 / 0.85), rgb(204 0 0 / 0.85)), var(--cover-image);}
        &.overlay-red-grad {background-image: linear-gradient(to bottom, rgb(204 0 0 / 0.5), rgb(204 0 0 / 0.95)), var(--cover-image);& rm-container > h1{text-shadow: 0 0 0.5rem rgb(0 0 0);}}
    }
    & rm-container {
        grid-column: mainContent;
        & .product-grid div > h1 {color: grey;}
    }
}
#rm-landing .red {
    background: var(--red);
    & rm-container  a.button {
        background-image: linear-gradient(110deg, white 48%, black 48%, black 52%, black 52%);
        color: black;
        &:hover {color: white;}
    }
}
#rm-landing .black {
    background: black;
    color: white;
    & a.button {
        background-image: linear-gradient(110deg, var(--red) 48%, black 48%, black 52%, white 52%);
        &:hover {color: black;}
    }
}
#rm-landing .category rm-container {
    text-align: center;
    & > h1 {flex: 1 0 100%;}
    & div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & img {aspect-ratio: 1.5/1;object-fit: cover;width: 100%;}
        & a.button {width: 100%}
    }
}
#rm-landing .img-round rm-container img {aspect-ratio: 1/1 !important;border-radius: 50%;}
/* #rm-landing .category.column-4 rm-container {
    & img {aspect-ratio: 1/1;border-radius: 50%;}
} */
#rm-landing :is([class^="column-"], [class*=" column-"]) rm-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    place-content: center;

    & > * {
        padding: var(--gap);
    }
}
#rm-landing .column-2 rm-container * {flex: 1 0 calc(50% - var(--gap));min-width: 300px;}
#rm-landing .column-3 rm-container * {flex: 1 0 calc(33% - (var(--gap)));min-width: 250px;}
#rm-landing .column-4 rm-container * {flex: 1 0 calc(25% - (var(--gap)));max-width: calc(var(--content-width) / 4 - var(--gap));}

#rm-landing .product-grid rm-container > h1 {
    display: display;
    grid-column: 1 / -1;
    opacity: 0.5;
}
#rm-landing .product-grid rm-container div {
    background-color: white;
    border: 1px solid var(--grey);
    border-radius: var(--border-radius);
    box-shadow: 0 0.25rem 0.65rem -0.25rem rgb(0 0 0 / 0.25);
    display: grid;
    gap: 0.5rem 0.25rem;
    grid-template-areas: "logo" "image" "button" "price" "title" "details";
    isolation: isolate;
    padding: 1rem;
    position: relative;
    & > * {margin: 0;text-transform: uppercase;}
    & > img:first-of-type {
        display: block;
        grid-area: logo;
        justify-self: center;
        width: 30%;
    }
    & > img:last-of-type {
        grid-area: image;
        width: 100%;z-index: -1;}
    & > h1 {
        font-size: clamp(0.85rem, 1.5vw, 1.25rem);
        grid-area: title;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        color: var(--light-grey);
        display: -webkit-box;
        overflow: hidden;
    }
    & > p {
        color: var(--red);
        font-size: clamp(1em, 1.5vw, 1.25em);
        font-weight: bold;
        grid-area: price;
    }
    & > i {color: #666;font-size: 0.85em;grid-area: details;}
    & > a.button {grid-area: button;width: 100%;}
    &:is(.best-seller, .closeout, .limited, .deal)::before{
        clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 99%);
        color: white;
        display: block;
        font-size: clamp(0.65em, 1.5vw, 1em);;
        font-weight: bold;
        grid-area: image;
        top: -0.125rem;
        left: -1.35rem;
        padding: 0.35rem 1.25rem 0.35rem 0.75rem;
        position: absolute;
        text-transform: uppercase;
    }
    &.best-seller::before {content: "Best Seller";background-color: var(--red);}
    &.closeout::before {content: "closeout";background-color: var(--blue);}
    &.limited::before {content: "limited stock";background-color: var(--green);}
    &.deal::before {content: "deal";background-color: var(--yellow);color: black;}
}

#rm-landing :is(nav, nav rm-container) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    padding: 1rem 0;
    place-content: center;
    place-items: center;
    width: 100%;
}

/* YT VIDEO STYLING */
#rm-landing .yt-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    transition: scale 250ms;
    &:hover .yt-play-btn {scale: 1.05;}
}
#rm-landing .yt-wrapper iframe {width: 100%;height: 100%;border: 0;}
#rm-landing .yt-overlay {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: opacity 0.3s ease;
    z-index: 2;
}
#rm-landing .yt-overlay.hidden {opacity: 0;pointer-events: none;}
#rm-landing .yt-play-btn {
    border-radius: 1rem;
    display: block;
    width: 100px;
    height: 72px;
    background: rgb(255 0 0);
    border: none;
    position: relative;
    transition: scale 350ms;
    cursor: pointer;
}
#rm-landing .yt-play-btn::before {
    content: "";
    position: absolute;
    left: 40px;
    top: 20px;
    border-style: solid;
    border-width: 16px 0 16px 26px;
    border-color: transparent transparent transparent white;
}

@media (max-width: 800px) {
    #rm-landing .column-4 rm-container > * {flex: 0 0 calc(50% - var(--gap));}
}
/* YT VIDEO STYLING END */

/* FAQ */

#rm-landing ul.faq {
    display: block;
    margin-inline: auto;
    width: 80%;

    .faq-title {
        cursor: pointer;
        font-size: 1.35em;
        font-weight: bold;
        list-style-type: none;
        position: relative;
        padding: 1.5rem 1rem 0 1rem;
        &:not(:first-child) {border-top: 2px solid var(--light-grey);}
        &::before {
            content: "+";
            color: var(--red);
            left: -0.35rem;
            position: absolute;
            transition: transform 0.25s ease, opacity 0.25s ease;
            vertical-align: 5px;
        }
        &:has(+ .open)::before {transform: rotate(45deg);}
    }

    .faq-text {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 0 1.5rem 0;
        transition:
        max-height 0.35s ease,
        opacity 0.25s ease;
    }

    .faq-text.open {
        /* max-height: 200px; */
        margin-top: 0.75rem;
        opacity: 1;
    }
}

#rm-landing #pdf-viewer {
    aspect-ratio: 1/1;
    border: none;
    border-radius: 1rem;
    display: block;
    margin: 2rem auto;
    width: 80%;
    @media only screen and (max-width: 800px){
        & {width: 100%;}
    }
}
